.Lista:hover { 
    background-color:black;
    color:red; 
  } 
  .Lista {
	width:95%;
	margin-left:2%;
	margin-right:0;
	/* margin-bottom:0.3vw; */
	padding-left:0;
	padding-right:0;
	display:block;
	background-color:transparent;
	text-indent:0;
	  
	  color:#777777;
	  font-family:Arial;
	  font-size:2vw;
	  font-weight:bold;
	  font-style:normal;
	  height:3vw;
	  line-height:2vw;
  	  text-decoration:none;
	  text-align:left;
	  opacity:0.5; 	 
  }
  
  .Lista:focus{
	font-size: 3vw;
	opacity:1.0; 
	-webkit-filter: none;
	filter: none;
  }

  #grillaLista{    
    display: grid;
    justify-items:center; 
    grid-template-columns:  1fr 1fr 1fr; 
    /* grid-template-rows: 50% 50% 50%;
    grid-column-gap: 1vw;
    grid-row-gap: 2vw;   */
    justify-content: center;
    align-items: center; 
  }
  .esc{
	float: left;  	
	background-color:cornflowerblue; 
	font-size: 2vw; 
	margin-top: 5px; 
	margin-left: 5px;
  }
  .f1{
	background-color:cornflowerblue; 
	font-size: 2vw; 
	margin-top: 5px; 
	margin-right: 5px;
	float: right;
	
  }
  
  #Ingresa{
	background-color:cornflowerblue; 
	font-size: 2vw;
	padding: 1vw; 
	border: 3px solid; 
    border-color: rgb(61, 42, 165);	
  }

  #gridcontenedor {
	width: 100%;
	float: left;
	display: grid;   
	grid-column-gap: 1vw;
	grid-template-columns: 46% 8% 46%; 
	justify-content: center; 
	align-items: center; 
     }
  @media (orientation: landscape) {
	.gridPlantilla {
		visibility: hidden;
        /* width: 90%; */
		float: left;
	  display: grid; 
	  justify-items: end;
	  margin-left: 6vw;
    
	  }
	  .gridPlantilla2 {
        /* width: 90%; */
		float: left;
	  display: grid; 
	  justify-items: start; 
	  grid-template-columns: 1fr; 
	  
	  grid-column-gap: 0px;
	  grid-row-gap: 0px;
	  /* height: 100%;     */
	  justify-content: center; 
      align-items: center; 
     
	  }
  
	  .teclas{		
		display: grid;
		justify-items:center; 
		grid-template-columns:  95% 95%; 
		grid-template-rows: 40% 40% 40%;
		grid-column-gap: 1vw;
		grid-row-gap: 2vw;  
		justify-content: center;
		align-items: center; 
		margin-right: 3vw;
	  }
  
	  .box,.box0{
		width: 100%; 
		height: 100%; 
		border: 4px solid black;
		border-radius: 50%;
		background-color: white;
		font-size: 4vw;
		line-height: 4vw;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.esc{
	  background-color:cornflowerblue; 
	  font-size: 2vw; 
	  margin-top: 5px; 
	  margin-left: 5px;
	  }
	  .f1{
	  background-color:cornflowerblue; 
	  font-size: 2vw; 
	  margin-top: 5px; 
	  margin-right: 5px;
	  float: right;
	  
	  }
  
	  #Info{
		right: 0;
		left: 0;
		margin-right: auto;
		margin-left: auto;
		margin-bottom:0;
		width: 40%;
		text-align: center;
		background-color:cornflowerblue; 
		font-size: 2vw;
		padding: 0.3vw; 
		border: 3px solid; 
		border-color: rgb(61, 42, 165);	
		}
		#EtiquetaUnoTexto {
	  
		  width:100%;
		   float:left; 
		   text-align:center;
		   margin-right: auto;
		   margin-left: auto;
		   margin-bottom:0;
		  font-size:5vw;	
		  white-space: pre; 
	   }
		#EtiquetaDosTexto {
	  
		  width:100%;
		   float:left;		   
		   text-align:center;
		   margin-right: auto;
		   margin-left: auto;
		   margin-bottom:0;
		  font-size:5vw;	
		  white-space: pre; 
		}
		.label
		{
		  font-size:3vw;
		}
		#separador{
			width: 50%;
		}
		/* #Segunda{
			padding-left: 30%;
			padding-right: 30%;
		}  */
		/* #Primera{
		  padding-left: 30%;
		  padding-right: 30%;
		}  */
  
  
  
  }
  
  @media (orientation: portrait) {
	.gridPlantilla {
		width: 100%;
		float: left;
	  display: grid; 
	  /* justify-items: stretch;   */
	  grid-template-columns: 1fr; 
	  grid-template-rows: 80%; 
	  grid-column-gap: 0px;
	  grid-row-gap: 0px;
	  /* height: 40%;     */
	  justify-content: center;
	  margin: 0;  
	  align-items: baseline;
	  margin-left: 6vw;  
	  }
  
	  .teclas{
		/* position:fixed; */
		/* top: 20%; */
		display: grid;
		justify-items: center; 
		grid-template-columns: 15vw 15vw;
		grid-template-rows: 15vw 15vw 15vw;
		/* grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr 1fr; */
		grid-column-gap: 3vw;
		grid-row-gap: 3vw;
		justify-content: center;      
		/* vertical-align: bottom;  */
		margin-right: 3vw;      
	  }
	  .esc{
		background-color:cornflowerblue; 
		font-size: 4vw; 
		margin-top: 5px; 
		margin-left: 5px;
		}
		.f1{
		background-color:cornflowerblue; 
		font-size: 4vw; 
		margin-top: 5px; 
		margin-right: 5px;
		float: right;
		
		}
  
	  .box,.box0{
		width: 100%; 
		height: 100%; 
		border: 6px solid black;
		border-radius: 50%;
		background-color: white;
		font-size: 9vw;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	#Info{
	  right: 0;
	  left: 0;
	  margin-right: auto;
	  margin-left: auto;
	  margin-bottom:0;
	  width: 20%;
	  text-align: center;
	  background-color:cornflowerblue; 
	  font-size: 4vw;
	  padding: 1vw; 
	  border: 3px solid; 
	  border-color: rgb(61, 42, 165);	
	  }
	  #EtiquetaUnoTexto {
	  
		width:100%;
		 float:left; 
		 text-align:center;
		 margin-right: auto;
		 margin-left: auto;
		 margin-bottom:0;
		font-size:7vw;	
		white-space: pre; 
	 }
	  #EtiquetaDosTexto {
	  
		width:100%;
		 float:left;		 
		 text-align:center;
		 margin-right: auto;
		 margin-left: auto;
		 margin-bottom:0;
		font-size:7vw;	
		white-space: pre; 
	  }
	  .label
	  {
		font-size:6vw;
	  } 
	  /* #Segunda{
		  padding-left: 20%;
		  padding-right: 20%;
	  }  */
	  /* #Primera{
		padding-left: 20%;
		padding-right: 20%;
	  }  */
  }
  #tituloPA
  {
	  position: fixed;
	  top:0;
	  float: left;
	  width: 100%;
	  text-align: center;
	  font-size: 3vw; 

  }
  
  #Segunda{visibility: hidden}
  
  